<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p>
   <span>(array)</span> <span>(tuple)</span> 你的任务是创建一个函数，获得{% if is_js %}一个数组<span>(array)</span>{% else %} 一个元组<span>(tuple)</span>{% endif %} ，并返回{% if is_js %}一个数组<span>(array)</span>{% else %} 一个元组<span>(tuple)</span>{% endif %} ，只有3个元素--第一个、第三个和第二个元素，给定的{% if is_js %}数组{% else %}元组{% endif %} 。
</p>

<p>
    <i>
        值得指出的一件事是，你需要使用索引，以便从{% if is_js %}数组<span>(array)</span>{% else %} 元组<span>(tuple)</span>{% endif %} 中提取元素。注意，索引计数从0开始，而不是从1开始。这意味着，如果你需要从{% if is_js %}数组<span>(array)</span>{% else %} 元组<span>(tuple)</span>{% endif %} <b>elements</b> 中获取第一个元素，你应该做<b>elements[0]</b> ，而第二个元素是<b>elements[1]</b> 。
    </i>
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}easy-unpack.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>输入：</strong> {% if is_js %}一个数组<span>(array)</span>{% else %} 一个元组<span>(tuple)</span>{% endif %} ，至少有 3 个元素。
</p>

<p>
   <strong>输出：</strong> {% if is_js %}一个数组<span>(array)</span>{% else %} 一个元组<span>(tuple)</span>{% endif %} 。 
</p>



<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
