<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p>
    ここでのあなたのミッションは、{% if is_js %}配列{% else %}タプル{% endif %}を受け取って、受け取った{% if is_js %}配列{% else %}タプル{% endif %}のひとつ目の要素、３つ目の要素、最後から２つ目の要素の３つの要素からなる{% if is_js %}配列{% else %}タプル{% endif %}を返す関数を作ることです。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}easy-unpack.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
    <strong>入力: </strong> 少なくとも３つの要素を持つ{% if is_js %}配列{% else %}タプル{% endif %}
</p>

<p>
    <strong>出力: </strong> {% if is_js %}配列{% else %}タプル{% endif %}
</p>



<div class="for_info_only">
    <p>
        <strong>例:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
