<p>
    Твоє завдання тут, це створити функцію, що приймає {% if is_js %}масив{% else %}кортеж{% endif %}
    і повертає {% if is_js %}масив{% else %}кортеж{% endif %} лише з 3 елементами -
    першим, третім елементами від початку і другим елементом від кінця вхідного {% if is_js %}масиву{% else %}кортежу{% endif %}.
</p>

<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p>
    <i>
        Важливо зауважити, що тобі потрібно використовувати індекси з метою отримання
        елементів з {% if is_js %}масиву{% else %}кортежу{% endif %}. Будь уважний,
        підрахунок індексів починається з 0, а не з 1. Це означає, що якщо тобі
        потрібен перший елемент з {% if is_js %}масиву{% else %}кортежу{% endif %}
        <b>elements</b>, ти маєш написати <b>elements[0]</b>, якщо другий - <b>elements[1]</b>.
    </i>
</p>

<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Кортеж{% endif %}, щонайменше із 3 елементів.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Масив{% else %}Кортеж{% endif %}. 
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
