<p>
    Votre mission consiste à créer une fonction qui récupère un {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %} et renvoie un {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %} avec seulement 3 éléments - le premier, le troisième et l'avant-dernier élément pour le {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %}.
</p>

<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p>
    <i>
        Une chose importante à souligner est que vous devez utiliser l'index pour extraire des éléments du {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %}. Attention, le comptage de l'index commence à partir de 0, et non de 1. Cela signifie que si vous devez obtenir le premier élément du {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %} <b>elements</b> , vous devez faire <b>elements[0]</b>, et le deuxième élément est <b>elements[1]</b>.
    </i>
</p>
<p>
   <strong>Entrée:</strong> Un {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %}, d'au moins 3 éléments.
</p>

<p>
   <strong>Sortie:</strong> Un {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}tuple{% endif %}. 
</p>



<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
