<p>
    Ta présente mission est de créer une fonction qui prend {% if is_js %}un tableau{% else %}a tuple{% endif %} et retourne un tuple avec 3 éléments : le premier, le troisième, et le second partant de la droite.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 163px"/>
</p>

<p>
    <strong>Entrée:</strong> {% if is_js %}Un tableau{% else %}A tuple{% endif %}, avec au moins 3 éléments.
</p>

<p>
    <strong>Sortie:</strong> {% if is_js %}Un tableau{% else %}A tuple{% endif %}. 
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
