<p>
    Your mission here is to create a function that gets {% if interpreter.slug == "js-node" %}an array{% else %}a tuple{% endif %} and returns a tuple with 3 elements - the first, third and second element from the last for the given array.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 163px"/>
</p>

<p><i>One important thing worth to point out, is that you need to use index in order to extract elements from array, but index counting starts from 0, not from 1. Which means in you need to get first elemets from array <b>elemets</b>, you should do <b>elements[0]</b>, and the second elements is <b>elemets[1]</b></i></p>

<p>
    <strong>Input: </strong> A tuple, at least 3 elements long.
</p>

<p>
    <strong>Output: </strong> A tuple. 
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>
{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
easyUnpack([6, 2, 9, 4, 3, 9]) == [6, 9, 3]
easyUnpack([1, 2, 3, 4, 5, 6, 7, 9]) == [1, 3, 7]
easyUnpack([1, 1, 1, 1]) == [1, 1, 1]
easyUnpack([6, 3, 7]) == [6, 7, 3]
</pre>
{% else %}
<pre class="brush: python">
easy_unpack((6, 2, 9, 4, 3, 9)) == (6, 9, 3)
easy_unpack((1, 2, 3, 4, 5, 6, 7, 9)) == (1, 3, 7)
easy_unpack((1, 1, 1, 1)) == (1, 1, 1)
easy_unpack((6, 3, 7)) == (6, 7, 3)
</pre>
{% endif %}
</div>
