<p>
    Ваша цель сейчас&nbsp;&mdash; создать функцию, которая принимает на&nbsp;вход {% if is_js %}массив{% else %}кортеж{% endif %} и&nbsp;возвращает {% if is_js %}массив{% else %}кортеж{% endif %} из&nbsp;3&nbsp;элементов: первого, третьего и&nbsp;второго с&nbsp;конца элементов заданного {% if is_js %}массива{% else %}кортежа{% endif %}.
</p>

<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p>
    <i>Важно отметить, что вам нужно использовать индекс для извлечения элементов из&nbsp; {% if is_js %}массива{% else %}кортежа{% endif %}. Обратите внимание, нумерация индексов начинается с&nbsp;0, не&nbsp;с&nbsp;1. Это означает, что если вы&nbsp;хотите получить первый элемент из&nbsp;{% if is_js %}массива{% else %}кортежа{% endif %} <b>elements</b>, вам нужен <b>elements[0]</b>, а&nbsp;если второй&nbsp;&mdash; <b>elements[1]</b></i>.
</p>

<p>
    <strong>Входные данные:</strong> {% if is_js %}Массив{% else %}Кортеж{% endif %} длиной не&nbsp;менее 3&nbsp;элементов.
</p>

<p>
    <strong>Выходные данные:</strong> {% if is_js %}Массив{% else %}Кортеж{% endif %}. 
</p>



<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
